body{
  
}

div{
  padding: 20px;
  margin: 100px 0 0 540px;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  background-color: #00ffff;
}

button{
  text-align: center;
  padding: 10px;
  margin-left: 140px;
  margin-top: 140px;
}